[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
flake8 = "*"
pytest = "*"
PyYAML = ">=5.4"

[packages]
black = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
pre-commit = "*"
pytest-xdist = "*"
requests = "*"
rsa = "*"
urllib3 = "*"
wheel = "*"
ytmusicapi = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
